/* Set global body styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: DarkBlue;
    background-color: Ivory;
    margin: 10px 50px;
  }
  
  /* Set headings to use Oswald font */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
  
  /* Make logos appear inline with text */
  img.logo {
    vertical-align: middle;
    display: inline;
    margin-right: 10px;
  }
  
  